<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&#x1F914; Hard Guesser &#x1F4AD;</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1 class="centered text large">&#x1F914; Hard Guesser &#x1F4AD;</h1>
    <div id="container">
        <h1 id="points" class="text centered">0 points</h1>
        <button id="reveal" class="text" onclick="revealLetter()">Reveal letter</button>
        <table>
            <tr id="word-container"></tr>
        </table>
        <ul id="definitions"></ul>
    </div>
    <h1 class="centered text large" id="rotate">Please rotate your device into landscape mode</h1>
    <script type="text/javascript" src="/js/home.js"></script>
</body>
</html>