@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body, html {
    background-color: rgb(13, 12, 19);
    height: 100%;
}

.centered {
    text-align: center;
}

.text, td, input {
    color: white;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0px;
}

.large {
    font-size: 3.5rem;
}

td {
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    padding: 1vw;
    transition: border-color 0.4s;
}

input {
    max-width: 1em;
    background-color: transparent;
    border: none;
    font-size: 3cqw;
    text-align: center;
}

input:focus {
    outline: none;
}

.definition {
    font-size: 1.5rem;
}

table {
    margin: auto;
}

#reveal {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color: transparent;
    border-color: red;
    border-style: solid;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

#reveal:active {
    border-color: rgb(167, 0, 0);
}

.wrong {
    border-color: red;
}